.filter-block {
    flex: 0 0 25%;
    margin-bottom: 10px;
}

@media screen and (max-width: 1115px) {
    .filter-block {
        margin: auto;
        width: 90%;
    }
}

.filter-block select {
    margin-bottom: 20px;
    width: 100%;
}

.filter-block select {
    height: 30px;
}

.filter-sections {
    background-color: rgb(236, 240, 241);
    padding: 20px;
}

.filter-sections p {
    background-color: rgb(236, 240, 241);
    margin: 0 0 3px 0;
    font-weight: bold;
}
