@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.playlists {
    flex: 0 0 70%;
}

.playlists table {
    width: 95%;
}

.playlists td {
    padding: 10px 5px;
}

.playlists thead tr td {
    padding: 0;
}

.playlists thead tr {
    background-color: rgb(236, 240, 241);
}

.btn-td {
    background-color: transparent;
    border-width: 0;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 0;
    height: 100%;
    width: 100%;
}

.table-not-data {
    text-align: center;
}

.arrow-top, .arrow-bottom, .arrow-default {
    position: relative;
}

.arrow-top:before, .arrow-bottom:before, .arrow-default:before {
    position: absolute;
    left: -25px;
    top: -2px;
}

.arrow-top:before {
    content: "\2191";
}

.arrow-bottom:before {
    content: "\2193";
}

.arrow-default:before {
    content: "\2194";
}
